.card_container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .hover_info_wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #AEC0C0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
            font-size: 1rem;
        }

        button {
            cursor: pointer;
            position: absolute;
            bottom: 10px;
            padding: 20px 50px;
            border-radius: 20px;
            border: 2px solid white;
            background-color: transparent;
            color: white;
            transition: all 0.5s ease-in;

            &:hover {
                background-color: #c5d6d6;
                font-weight: bold;
                color: black;
            }
        }
    }


    .image_wrapper {
        border: 1px solid black;
        overflow-y: hidden;
        position: relative;
        display: flex;
        flex-direction: column;

        img {
            width: 300px;
            height: 300px;
        }

        div {
            background-color: #DAE2E2;
            padding: 10px;
            display: flex;
            justify-content: center;
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

    .info_wrapper {
        div {
            display: flex;
            align-items: baseline;
            gap: 5px;

            h2 {
                @media screen and (max-width:990px) {
                    font-size: 1.2rem;
                }
            }

            h3 {
                color: #827f7f;

                @media screen and (max-width:990px) {
                    font-size: 1rem;
                }

            }

        }
    }
}