@import "../../../colors";

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 1;

    .text_container{
        display: flex;  
        gap: 10px;
        align-items: center;
        h1{
            letter-spacing:5px;
        }
        img{
            transform: rotate(30deg);
            width: 35px;
            height: 35px;
        }
    }
    .icon_container{
        display: flex;
        align-items: center;
        gap: 20px;
        svg{
            color: $buttonColor;
            width: 20px;
            height: 20px;
            transition: scale 0.5s ease-out;
            &:hover{
                scale: 0.9;
                color: $titleColor;
            }

        }
    }
}